@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  overflow: hidden;
}

.wr__main{
  width: 100%;
  background-color: #C37575;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wr__main__contant{
  box-sizing: border-box;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card{
  transform: translate(-40%, -40%);
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 250px;
}

.card .back, .card .front{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card .front img{
    height: 100%;
}
.card .back{
    padding: 20px;
    background-color: #381111;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-disactive .front {
    transform: perspective(600px) rotateY(0deg);
}

.card-disactive .back {
    transform: perspective(600px) rotateY(180deg);
}
.card-active .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card-active .back {
    transform: perspective(600px) rotateY(0deg);
}


.cardAr{
  position: relative;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainCard-enter {
  transform: translate(-40%, -40%);
}
.MainCard.enter-active {
  transform: translate(-50%, -50%);
  transition: 500ms ease-in;
}
.MainCard.enter-done {
  transform: translate(-50%, -50%);
}
.item-exit {
  opacity: 1;
}
.MainCard.exit-active {
  animation: deleteCard 1s ease-in-out infinite;
  opacity: 0;
  transition: 500ms ease-in;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns button{
  margin-top: 20px;
}

@keyframes deleteCard {
  from{
    transform: rotate(0) translate(-50%, -50%);
  }
  to{
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
